:root {
    --plot-size: 80px;
    --plot-per-row: 10;
    --plot-total-row: var(--plot-per-row);

    --plot-border-size: 1px;
    --plot-border-color: lightblue;
    --plot-background-color: transparent;
}

body {
    font-family: sans-serif;

    *:not([data-outline="false"]) {
        outline-width: var(--plot-border-size);
        outline-style: solid;
    }
}

// Board

.board {
    position: relative;
    height: calc(var(--plot-size) * var(--plot-total-row));
    width: calc(var(--plot-size) * var(--plot-per-row));
    margin: auto;

    &:not([data-plot="false"]) {
        background-color: var(--plot-background-color);
        background-image:
            linear-gradient(
                var(--plot-border-color) var(--plot-border-size),
                var(--plot-background-color) var(--plot-border-size)
            ),
            linear-gradient(
                to right,
                var(--plot-border-color) var(--plot-border-size),
                var(--plot-background-color) var(--plot-border-size)
            );
        background-size: var(--plot-size) var(--plot-size);
    }
}

// Ladder

.ladder {
    position: relative;
    outline-color: salmon;

    [data-ladder-outline="false"] & {
        outline-width: 0;
    }
}

.ladder-wrapper {
    position: absolute;
}

.ladder-visual {
    position: absolute;
    width: calc(var(--plot-size) * .75);
    margin: auto;
    inset: 0;

    color: cadetblue;
    font-weight: 700;
    font-size: 0;
    text-align: center;

    outline-color: cadetblue;

    .ladder.hover & {
        font-size: calc(var(--plot-size) * .35);
    }
}
